.intro {
    display: flex;
    height: 100vh;
}

.intro-left {
    flex: 1;
}

.intro-right {
    flex: 1;
}

.intro-left__wrapper {
    padding: 50px;
}

.intro-welcome {
    font-size: 30px;
    font-weight: 300;
}

.intro-name {
    font-size: 60px;
}

.intro-title {
    height: 50px;
    overflow: hidden;
}

.intro-title__wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
    -webkit-animation: move 10s ease-in-out infinite alternate;
}

/* Animation */
@keyframes identifier {
    
}

.intro-title__item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
}