.intro {
    display: flex;
    height: 100vh;
}

.intro-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-right {
    flex: 1;
    position: relative;
}

.intro-left__wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-welcome {
    font-size: 30px;
    font-weight: 300;
}

.intro-name {
    font-size: 60px;
}

.intro-title {
    height: 50px;
    overflow: hidden;
}

.intro-title__wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
    -webkit-animation: move 10s ease-in-out infinite alternate;
}

/* Animation */
@keyframes move{
    25%{
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
    }
    50% {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
    }
    75% {
        transform: translateY(-75px);
        -webkit-transform: translateY(-75px);
        -moz-transform: translateY(-75px);
        -ms-transform: translateY(-75px);
        -o-transform: translateY(-75px);
}
    100%{
        transform: translateY(-200px)    ;
        -webkit-transform: translateY(-200px)    ;
        -moz-transform: translateY(-200px)    ;
        -ms-transform: translateY(-200px)    ;
        -o-transform: translateY(-200px)    ;
}
}

.intro-title__item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.intro-img {
    width: 80%;
    height: 1000%;
    position: absolute;
    object-fit: cover;
}

.intro-background {
    clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #59b256;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
}